{% extends 'base.html.twig' %}

{% block title %}Édition de Catégorie{% endblock %}

{% block content %}
    <h1>Édition de Catégorie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('liste_categories') }}">Retour à la liste des catégories</a>
{% endblock %}
