{# templates/categorie/nouveau.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block content %}
    <h1>Nouvelle Catégorie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
